services:
  - type: web
    name: taller-motos-backend
    env: docker
    branch: main
    dockerfilePath: Dockerfile
    plan: free
    autoDeploy: true
    buildCommand: ""
    startCommand: ""
    healthCheckPath: "/features"
